<div class="head-title">
  <h1 style="display: inline-block;"><%= config.title %></h1>
  <a href="<%= config.root %>atom.xml"><img alt="[rss feed]" src="/badges/feed.png" /></a>
  <h2><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
</div>
