<div class="flag-container">
    <div class="stripe purple"></div>
    <div class="stripe blue"></div>
    <div class="stripe green"></div>
    <div class="stripe yellow"></div>
    <div class="stripe orange"></div>
    <div class="stripe red"></div>
    <div class="stripe black"></div>
    <div class="stripe brown"></div>
    <div class="stripe skyblue"></div>
    <div class="stripe pink"></div>
    <div class="stripe white"></div>
</div>