<div class="badges">
  <a href="https://estela.moe/" target="_blank"><img src="/badges/88x31estela.png" alt="Estela's homepage" /></a><a href="https://hexo.io/" target="_blank"><img src="/badges/hexo.gif" alt="Powered by Hexo" /></a><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="/badges/ccbysa.png" alt="Creative Commons BY-SA 4.0"></a><a href="https://validator.w3.org/check?uri=https%3A%2F%2Fblog.estela.moe%2F&charset=%28detect+automatically%29&doctype=Inline&group=0"><img src="/badges/valid-xhtml-rdfa.png" alt="Valid XHTML+RDFa 1.1" /></a><img src="/badges/javascript-zero.gif" alt="Proudly Zero JavaScript" /><a href="https://www.vim.org/" target="_blank"><img src="/badges/vim.gif" alt="Edited with Vim" /></a><img src="/badges/xenia-voltbun-8831.png" alt="Xenia invites you to Linux" /><img src="/badges/transnow2.gif" alt="Trans Rights Now!" /><img src="/badges/nb_noproblem.gif" alt="non binary no problem" />
</div>
<div>
  <% if (config.author){ %>
  (CC) <%= new Date().getFullYear() %>
  <%= config.author %>
  <% } else { %>
  (CC) <%= new Date().getFullYear() %>
  <%= config.title %>
  <% } %>
</div>