<a href="https://hexo.io/" target="_blank"><img src="/badges/hexo.gif" loading="lazy" alt="Powered by Hexo"></a>
<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="/badges/ccbysa.png" loading="lazy" alt="Creative Commons BY-SA 4.0"></a>
<img src="/badges/w3c_ab.gif" loading="lazy" alt="Any browser!">
<img src="/badges/javascript-zero.gif" loading="lazy" alt="Proudly Zero JavaScript">
<a href="https://www.vim.org/" target="_blank"><img src="/badges/vim.gif" loading="lazy" alt="Edited with Vim"></a>
<img src="/badges/gnu-linux.gif" loading="lazy" alt="Made on GNU/Linux">
<img src="/badges/transnow2.gif" loading="lazy" alt="Trans Rights Now!">
<img src="/badges/rainbow_bev.gif" loading="lazy" alt="Rainbow flag">
<div>
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
</div>