<a href="https://hexo.io/" target="_blank"><img src="/badges/hexo.gif" alt="Powered by Hexo" /></a>
<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="/badges/ccbysa.png" alt="Creative Commons BY-SA 4.0"></a>
<a href="https://validator.w3.org/check?uri=https%3A%2F%2Fblog.estela.moe%2F&charset=%28detect+automatically%29&doctype=Inline&group=0"><img src="/badges/valid-xhtml-rdfa.png" alt="Valid XHTML+RDFa 1.1" /></a>
<img src="/badges/javascript-zero.gif" alt="Proudly Zero JavaScript" />
<a href="https://www.vim.org/" target="_blank"><img src="/badges/vim.gif" alt="Edited with Vim" /></a>
<img src="/badges/gnu-linux.gif" alt="Made on GNU/Linux" />
<img src="/badges/transnow2.gif" alt="Trans Rights Now!" />
<div>
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
</div>